@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar,
#descripScroll::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
#descripScroll::-webkit-scrollbar-track {
    background-color: #1C1B20;
}

body::-webkit-scrollbar-thumb,
#descripScroll::-webkit-scrollbar-thumb {
    background-color: #ffc0cd;
    border-radius: 10px;
}


.overflow-auto::-webkit-scrollbar,
#descripScroll::-webkit-scrollbar {
    width: 8px;
}

.overflow-auto::-webkit-scrollbar-track,
#descripScroll::-webkit-scrollbar-track {
    background-color: #FFDFD3;
}

.overflow-auto::-webkit-scrollbar-thumb,
#descripScroll::-webkit-scrollbar-thumb {
    background-color: #E0BBEA;
    border-radius: 10px;
}